{
  "child": {
    "accessKey": "{{ s3_access_key }}",
    "bucket": "{{ s3_bucket }}",
    "region": "{{ s3_region }}",
    "regionEndpoint": "{{ s3_endpoint }}",
    "secretKey": "{{ s3_secret_key }}",
    "type": "s3ds"
  },
  "mountpoint": "/blocks",
  "prefix": "s3.datastore",
  "type": "measure"
}
